<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>controller.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewServlet</servlet-name>
        <servlet-class>controller.viewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tickercontroller</servlet-name>
        <servlet-class>controller.ticker.tickercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historycontroller</servlet-name>
        <servlet-class>controller.history.historycontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertordercontroller</servlet-name>
        <servlet-class>controller.history.insertordercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.history.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistory</servlet-name>
        <servlet-class>controller.history.DeleteHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateHistory</servlet-name>
        <servlet-class>controller.history.updateHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewServlet</servlet-name>
        <url-pattern>/viewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tickercontroller</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historycontroller</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertordercontroller</servlet-name>
        <url-pattern>/insertorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistory</servlet-name>
        <url-pattern>/DeleteHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHistory</servlet-name>
        <url-pattern>/updateHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1140
        </session-timeout>
    </session-config>
</web-app>
